# Папка с бэкендом (не нужна на GitHub)
backend/
node_modules/

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Файлы логов
*.log
npm-debug.log*

# Временные файлы
*.tmp
*.temp

# Файлы среды разработки
.vscode/
.idea/
*.sublime-*

# Папка с бекапами (если есть)
IP backups/